body {
    color: white;
    font-family: "Helvetica";
    background-color: black;
}

#avatar {
    margin: 0px;
    padding: 0px;
    padding-left: 2%;
    width: 128px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#name {
    font-size: 100px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 0px;
    white-space: nowrap;
    margin: 0px;
    display: inline;
}

hr {
    padding: 0px;
    margin: 0px;
    margin-left: 2%;
    border: 2px solid white;
    width: 96%;
}