body {
    font-family: "Helvetica";
    background-color: black;
    padding: 0px;
    margin: 0px;
}

#draw {
    width: 90%;
    height: 90%;
    color: white;
    padding: 0px;
    margin: 0px;
}

#modal {
    display: block;
    /*display: none;*/
    overflow: auto;
    background-color: white;

    height: 300px;
    width: 200px;
    margin-left: -100px;

    position: absolute;
    top: 10%;
    left: 50%;
}

#name {
    padding: 3%;
    margin: 1%;
    margin-top: 5%;
}

hr {
    padding: 0%;
    margin: 1%;
    height: 2px;
    color: black;
    background-color: black;
}


#about {
    color: gray;
    font-style: italic;
    font-weight: 100;
    padding: 3%;
    margin: 0%;
    font-size: 18px;
}

a {
    padding: 3%;
    margin: 0%;
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#rasbIcon {
    width: 50px;
    right: 0;
    bottom: 12%;
    position: absolute;
}

#rasbText {
    color: gray;
    font-weight: 100;
    right: 3%;
    bottom: 1%;
    position: absolute;
    margin: 0%;
    padding: 0%;
    width: 50%;
    font-size: 12px;
    text-align: right;
}
